<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='site-files/style.css') }}">
    <title>
        Create
    </title>
</head>
<body>
    <nav class="navbar navbar-fixed-top">
        <div class="navbar-header w-100 text-center">
            <a href="/">
                <img src="{{ url_for('static', filename='assets/logos/logo.png') }}" alt="WebsiteCreator 2.0" class="logo">
            </a>
        </div>
    </nav>
    <div class="row-sm-12">
        <div class="col-sm-12 d-flex align-items-center flex-column text-center pt-3">
            <h1>
                Start designing your website
            </h1>
            <p class="py-2 create-desc">
                Choose a category and choose an item below it. Press it and then press add. This will add it to your site. Repeat this until you have everything you want. When you are done, press the finish button. <br> Start with a navbar.
            </p>
        </div>
    </div>
    <div class="row-sm-12">
        <div class="col-sm-12 text-center">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle choose-category-button" type="button" id="chooseCategory" data-bs-toggle="dropdown" aria-expanded="false">
                  Choose a category
                </button>
                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton1">
                  <li id="category"><a class="dropdown-item" href="#">Navbars</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center align-items-center mt-5 ">
        <div class="row options-space p-4 d-flex justify-content-center text-center" id="optionsSpace">
            
        </div>
    </div>


    <div class="row-sm-12 add-menu py-3 position-fixed bottom-0 w-100 d-flex justify-content-end">
        <div class="col-sm-1 text-center">
            <button class="btn text-center outlined-add-button px-5 mx-3" onclick="add()">
                Add
            </button>
        </div>
        <div class="col-sm-2 text-center">
            <form action="/download" method="get">
                <button class="btn text-center outlined-finish-button px-5 mx-3" type="submit">
                    Finish
                </button>
            </form>
        </div>
    </div>

    <script src="{{ url_for('static', filename='site-files/script.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
</body>
</html>